* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    /* Градиент */
    background: linear-gradient(135deg, #d4eac7, #2c804c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
}

.header {
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 150px;
    height: auto;
    /* Убираем фон, если был */
    background-color: transparent;
    /* Убираем возможные отступы или рамки */
    border: none;
    display: block;
    margin: 0 auto;
}

.main {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 28px;
    font-weight: 700;
    color: #2c804c;
    margin-bottom: 20px;
}

.auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.input {
    width: 100%;
    max-width: 300px;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s;
}

.input:focus {
    border-color: #2c804c;
    box-shadow: 0 0 5px rgba(44, 128, 76, 0.5);
}

.link-registration {
    margin-top: 10px;
    margin-bottom: 20px;
}

.link-registration a {
    font-size: 14px;
    color: #2c804c;
    text-decoration: none;
}

.link-registration a:hover {
    text-decoration: underline;
}

.button-signUp {
    width: 100%;
    text-align: center;
}

.signUp {
    font-size: 16px;
    padding: 12px 30px;
    background-color: #2c804c;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.signUp:hover {
    background-color: #23713d;
    cursor: pointer;
    opacity: 0.9;
}

.footer {
    padding: 15px;
    background-color: #f0f4f8;
    text-align: center;
    font-size: 14px;
    color: #777;
}

.footer p {
    margin: 0;
}
