.user-list {
  list-style-type: none; /* Убираем маркеры */
  padding: 0; /* Убираем внутренние отступы */
  margin: 0; /* Убираем внешние отступы */
  /*border: 1px solid #ddd; /* Рамка для списка */
  border-radius: 10px; /* Закругление углов */
  max-height: 150px; /* Ограничение высоты */
  overflow-y: auto; /* Скроллинг при переполнении */
  position: absolute; /* Позволяет размещать список под полем поиска */
  background-color: white; /* Цвет фона списка */
  z-index: 1000; /* Чтобы список был поверх других элементов */
  width: 80%; /* Установите ширину меньше 100% для уменьшения размера списка */
  min-width: 150px; /* Минимальная ширина, чтобы не было слишком узко */
  left: 10%; /* Выравнивание по центру относительно поля поиска */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Легкая тень для создания глубины */
}

/* Псевдоэлемент для полосы прокрутки */
.user-list::-webkit-scrollbar {
  width: 8px; /* Ширина полосы прокрутки */
}

.user-list::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Цвет полосы прокрутки */
  border-radius: 10px; /* Закругление полосы прокрутки */
}

.user-list::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Цвет полосы прокрутки при наведении */
}

.user-item {
  padding: 8px 15px; /* Увеличенные внутренние отступы для более удобного клика */
  cursor: pointer; /* Указатель при наведении */
  text-align: left; /* Выравнивание текста по левому краю */
  transition: background-color 0.3s, color 0.3s; /* Плавные переходы для фона и цвета */
}

.user-item:hover {
  background-color: #2c804c; /* Цвет фона при наведении */
  color: white; /* Цвет текста при наведении */
}

.no-users {
  color: #666; /* Цвет для сообщения о том, что пользователей не найдено */
  padding: 10px; /* Увеличенные внутренние отступы для читаемости */
  text-align: center; /* Выравнивание по центру */
  font-style: italic; /* Курсив для стилизации текста */
  border-radius: 0 0 10px 10px; /* Закругление нижних углов */
}
