/* Основные стили */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background: linear-gradient(135deg, #d4eac7, #2c804c);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 700px;
  padding: 20px;
  text-align: center;
  margin: 10px 0;
  min-height: calc(100vh - 10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Стили для контейнера поиска */
.search-container {
  position: relative;
  width: 100%;
  margin-bottom: 60px; /* Добавляем отступ снизу */
}

/* Стили для поля поиска */
.search-input {
  width: 80%;
  padding: 8px 35px 8px 40px;
  margin: 0 auto; /* Центрируем элемент */
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #2c804c;
  box-shadow: 0 0 5px rgba(44, 128, 76, 0.5);
}

/* Стили для значка поиска */
.search-icon {
  position: absolute;
  left: 75px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.search-icon:hover {
  cursor: pointer;
}

/* Стили для кнопок */
.button-container {
  display: flex;
  justify-content: space-around;
}

.button {
  flex: 1;
  padding: 12px 0;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  color: #333;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.button.active {
  background-color: #2c804c;
  color: white;
}

.button:hover {
  background-color: #23713d;
  color: white;
}

/* Стили для контента */
#content {
  text-align: left;
  flex-grow: 1;
}

.title {
  font-size: 24px; /* Увеличен размер заголовка */
  color: #2c804c;
  margin-bottom: 10px; /* Увеличен отступ после заголовка */
  text-align: center;
}

#content p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Заголовок чатов */
#privateMessages .title,
#groupMessages .title {
  font-size: 30px;
  font-weight: bold;
  color: #2c804c;
  margin-bottom: 15px;
}

/* Стили для списка чатов */
#privateMessages ul,
#groupMessages ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Элемент списка чатов */
#privateMessages li,
#groupMessages li {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: background-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

#privateMessages li:hover,
#groupMessages li:hover {
  background-color: #e9f5ec;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

/* Название чата */
#privateMessages li span,
#groupMessages li span {
  font-size: 16px;
  color: #333;
}

/* Стили для пустого состояния чатов */
#privateMessages p,
#groupMessages p {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin: 20px 0;
}
