/* Основные стили */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background: linear-gradient(135deg, #d4eac7, #2c804c);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 700px;
  max-width: 100%;
  padding: 0px;
  padding-bottom: 20px;
  text-align: center;
  margin: 10px 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

/* Стили для контейнера поиска */
.search-container {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  background-color: #2c804c;
  padding: 20px 0;
  border-radius: 10px 10px 0px 0px;
}

/* Стили для поля поиска */
.search-input {
  width: 90%;
  padding: 8px 35px 8px 40px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
  background-color: #fff;
  z-index: 1;
}

.search-input:focus {
  border-color: #2c804c;
  box-shadow: 0 0 5px rgba(44, 128, 76, 0.5);
}

/* Стили для значка поиска */
.search-icon {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.search-icon:hover {
  cursor: pointer;
}

/* Стили для кнопок */
.button-container {
  display: flex;
  justify-content: space-around;
}

.button {
  flex: 1;
  padding: 12px 0;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  color: #333;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.button.active {
  background-color: #2c804c;
  color: white;
}

.button:hover {
  background-color: #23713d;
  color: white;
}

/* Стили для контента */
#content {
  text-align: left;
  flex-grow: 1;
  overflow-y: auto;
}

#content p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Стили для списка чатов */
#privateMessages ul,
#groupMessages ul {
  list-style: none;
  padding: 0;
  margin: 10px;
}

/* Стили для элемента списка чатов */
#privateMessages li,
#groupMessages li {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: background-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
  position: relative;
  justify-content: flex-start; /* Распределяем элементы от левого края */
}

/* Убираем дополнительные отступы */
#privateMessages li:first-child,
#groupMessages li:first-child {
  margin-top: 0;
}

/* Стили для hover эффекта */
#privateMessages li:hover,
#groupMessages li:hover {
  background-color: #e9f5ec;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

/* Стили для изображения */
#privateMessages li img,
#groupMessages li img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Круглое изображение */
  margin-right: 15px;
  object-fit: cover; /* Обрезка изображения по кругу */
}

/* Стиль для контейнера с изображением */
.profile-container {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px; /* Отступ от изображения */
}

/* Стиль для индикатора статуса */
.status-indicator {
  position: absolute;
  bottom: 0;
  right: 5px;
  width: 12px;
  height: 12px;
  background-color: green; /* Зеленый цвет для статуса "в сети" */
  border-radius: 50%;
  z-index: 1;
}

/* Стили для блока с деталями чата */
#privateMessages li .chat-details,
#groupMessages li .chat-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  flex-grow: 1;
  padding-right: 20px; /* Отступ для правого блока */
}

/* Название чата */
#privateMessages li .chat-details span.name,
#groupMessages li .chat-details span.name {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px; /* Отступ между именем и последним сообщением */
}

/* Стили для количества непрочитанных сообщений */
#privateMessages li .chat-details .unread-count,
#groupMessages li .chat-details .unread-count {
  background-color: #2c804c;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Последнее сообщение */
#privateMessages li .chat-details .last-message,
#groupMessages li .chat-details .last-message {
  font-size: 14px;
  color: #888;
  margin-top: 5px;
}
